@import "font_declaration.css";
@import "reset.css";

$white: #e3e3e3;
$black: #555;
$shadow: #222;

$header_size: 325px;
$blog_width: 960px;
$font_size: 14px;

main
{
	width: 100%;
}

body
{
	font-family: Montserrat;
	font-size: $font_size;
	background-color: $black;
}

.blog_center
{
	width: $blog_width;
	height: 2500px;
	margin: 0 auto;
	/* h-pos v-pos blur-dist spread-dist color*/
	box-shadow: 0 0 35px 0 $shadow;
	background-color: $white;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	.blog_header
	{
		position: relative;
		top: 0;
		left: 50%;
		height: $header_size;
		width: $blog_width;
		margin-left: -$blog_width / 2;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.25) 100%), url( "../img/image.jpg" );
		background-size: 100% auto;
		background-origin: content-box;
		z-index: 1;
		text-shadow: 2px 2px 0 $shadow;
		color: $white;
		box-shadow: 0 0 8px 0 $shadow + #111;

		h1
		{
			font-size: 2rem;
			position: relative;
			top: ( $header_size / 2 ) - ( $font_size * 2 );
			margin: 0 2rem;
			text-align: center;
		}

		.social
		{
			font-size: 1.5rem;
			display: block;
			position: relative;
			top: $header_size - ( $font_size * 5 );
			margin-right: 1rem;
			float: right;
			text-shadow: 2px 2px 0 $shadow + #111;
			
			i { margin: 0 .3rem; }
			a { color: $white; }

		}

	}

	.blog_content
	{
		position: relative;
		top: 0;
		z-index: 0;
		margin-top: 2rem;
		padding: 0 2rem 0 2rem;
		
		text-align: justify;

		h2 { text-align: center; }
		p { margin: 1rem 4rem 0 4rem; }

	}
}

.blog_header_fixed
{
	position: fixed !important;
	top: 50px - $header_size !important;
}

.blog_content_absolute
{
	position: absolute !important;
	top: $header_size !important;
}

h2
{
	font-size: 2em;
}